<mat-card class="xp-card">
    <mat-card-header>
        <mat-card-title>{{ experience.title }}</mat-card-title>
        <mat-card-subtitle>{{ experience.location }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{ experience.description }}</p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer>
        <mat-icon>calendar_today</mat-icon>
        <span class="aligned-with-icon">{{ (experience.from.datetime | date) + ' - ' + (experience.to.datetime | date)}}</span>
    </mat-card-footer>
</mat-card>